Mon avis sur cette histoire :
<form class="story-opinion-form" story-id="{0}">
	<input type= "radio" class="story-opinion-choice" name="story-{0}-opinion" value="noOpinion"> Sans avis
	<input type= "radio" class="story-opinion-choice" name="story-{0}-opinion" value="true"> Vraie
	<input type= "radio" class="story-opinion-choice" name="story-{0}-opinion" value="fake"> Fake
	<input type= "radio" class="story-opinion-choice" name="story-{0}-opinion" value="dontremember"> Je ne m'en rapelle plus 
</form>