<div class="story" id-story="{0}">
	<h4 class="story-title">{1}   - par {2}</h4>
	<p class="story-content">
		{3}
	</p>
	{4}
	<div class="opinions">
		{5}
	</div>
	Note moyenne : <span class="story-rating-mean">{6}</span>  - Nombre d'avis : <span class="story-rating-count">{7}</span> <br>
	Ma note:
	<form class="story-rating-form">
		<input type= "radio" class="story-rating-rate" name="story-{0}-rating" value="0"> Pas de note
		<input type= "radio" class="story-rating-rate" name="story-{0}-rating" value="1"> 1
		<input type= "radio" class="story-rating-rate" name="story-{0}-rating" value="2"> 2
		<input type= "radio" class="story-rating-rate" name="story-{0}-rating" value="3"> 3
		<input type= "radio" class="story-rating-rate" name="story-{0}-rating" value="4"> 4
	</form>
</div>